body {
    background-color: rgba(242, 242, 247, 1);
    width: 25rem;
    height: 35rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

body > * {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.loading_text {
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgba(99, 99, 102, 1);
    font-size: medium;
}

.logo {
    content: url("./assets/logo-dark.png");
    width: 6rem;
    height: auto;
}

.small_logo {
    content: url("./assets/logo-dark.png");
    width: 3rem;
    height: auto;
    cursor: pointer;
}

textarea:focus,
input:focus {
    outline: none;
}

.device_name,
.email {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 80%;
    padding: 0.6rem;
    background-color: transparent;
    border: 0.1rem solid rgba(58, 58, 60, 1);
    color: rgba(58, 58, 60, 1);
    border-radius: 6px;
}

.device_name::placeholder,
.email::placeholder {
    color: rgba(142, 142, 147, 1);
}

.device_type_heading {
    color: rgba(58, 58, 60, 1);
}

.radio_list {
    text-align: left;
}

.radio_container {
    padding: 0.5rem;
}

.device_type_radio {
    padding-left: 0.5rem;
    color: rgba(58, 58, 60, 1);
    font-size: medium;
}

.get_started,
.sign_in {
    border: 0em;
    background-color: rgba(10, 132, 255, 1);
    color: #fff;
    padding: 0.5em;
    font-size: medium;
    border-radius: 8px;
    margin-top: 1.5em;
    margin-bottom: 1em;
    width: 10em;
    cursor: pointer;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

.get_started:active,
.sign_in:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(1.5px);
    /* Moving button 4px to y-axis */
}

.devices_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* flex: 1; */
}

.device_box {
    width: 8rem;
    height: 8rem;
    border: 0.1rem;
    padding: 0.8rem;
    border: 0.1rem solid rgba(58, 58, 60, 1);
    margin: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.device_box:hover {
    background-color: rgba(209, 209, 214, 1);
}

.device_icon {
    color: #000;
    margin-bottom: 0.3em;
}

.device_list_name {
    color: #000;
    font-size: medium;
}

.this_device {
    margin-top: 0.5em;
    color: #1b8e2d;
}

.heading1 {
    font-size: large;
    flex: 1;
}

.heading_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #000;
    width: 100%;
    border-bottom: 0.1em solid rgba(199, 199, 204, 1);
    margin-bottom: 1em;
    padding: 1em;
}

.header_parts {
    display: flex;
    flex-direction: row;
    width: 25%;
    align-items: center;
    font-size: medium;
}

.header_left {
    margin-left: 1em;
}

.header_right {
    margin-right: 1em;
}

.subheading {
    margin-top: 0.5em;
    font-size: small;
    color: rgba(99, 99, 102, 1);
}

.parent_tab_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    color: #fff;
    align-items: center;
    cursor: pointer;
}

.regular_tab {
    background-color: rgba(58, 58, 60, 1);
    border: 0.1rem solid rgba(99, 99, 102, 1);
}

.incognito_tab {
    background-color: #000;
    border: 0.1rem solid rgba(58, 58, 60, 1);
}

.all_tabs {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.tab_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex: 1;
}

.tab_title {
    text-align: left;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    font-size: medium;
    height: 2rem;
    line-height: 2rem;
    align-items: center;
    justify-content: center;
}

.favicon {
    width: 2rem;
    height: 2rem;
}

.error_container {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    width: 80%;
    border-radius: 6px;
    color: #000;
    gap: 0.5rem;
    align-items: center;
    font-size: medium;
}

.error {
    background-color: rgba(255, 59, 48, 0.3);
    border: 0.1rem solid rgba(255, 59, 48, 1);
}

.warning {
    background-color: rgba(255, 149, 0, 0.3);
    border: 0.1rem solid rgba(255, 149, 0, 1);
}

.message {
    background-color: rgba(0, 122, 255, 0.3);
    border: 0.1rem solid rgba(0, 122, 255, 1);
}

.break_word {
    overflow-wrap: break-word;
    max-width: 93%;
    text-align: left;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgba(28, 28, 30, 1);
    }

    .logo {
        content: url("./assets/logo-light.png");
    }

    .small_logo {
        content: url("./assets/logo-light.png");
    }

    .device_name,
    .email {
        border: 0.1rem solid rgba(209, 209, 214, 1);
        color: rgba(209, 209, 214, 1);
    }

    .device_type_heading {
        color: rgba(209, 209, 214, 1);
    }

    .device_type_radio {
        color: rgba(209, 209, 214, 1);
    }

    .device_box {
        border: 0.1rem solid rgba(209, 209, 214, 1);
        transition: background-color 200ms ease-in-out;
    }

    .device_box:hover {
        background-color: rgba(58, 58, 60, 1);
    }

    .device_icon {
        color: #fff;
    }

    .device_list_name {
        color: #fff;
    }

    .heading_container {
        color: #fff;
        border-bottom: 0.1em solid rgba(72, 72, 74, 1);
    }

    .loading_text {
        color: rgba(174, 174, 178, 1);
    }

    .subheading {
        color: rgba(174, 174, 178, 1);
    }

    .error_container {
        color: #fff;
    }

    .error {
        background-color: rgba(255, 69, 58, 0.3);
        border: 0.1rem solid rgba(255, 69, 58, 1);
    }

    .warning {
        background-color: rgba(255, 214, 10, 0.3);
        border: 0.1rem solid rgba(255, 214, 10, 1);
    }

    .message {
        background-color: rgba(10, 132, 255, 0.3);
        border: 0.1rem solid rgba(10, 132, 255, 1);
    }
}
