.main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    padding: 3em;
    min-height: 100vh;
    background: rgb(var(--background-end-rgb));
}

.download_options {
    scroll-margin: 5rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: #fff;
    font-size: x-large;
    font-weight: 500;
    align-items: center;
    text-align: center;
}

.download_icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    color: #fff;
    align-items: center;
    font-size: 2.5rem;
    justify-content: center;
}

.playstore {
    color: rgb(40, 205, 65);
}
.playstore:hover {
    color: rgb(50, 215, 75);
}

.appstore {
    color: rgb(0, 122, 255);
}
.appstore:hover {
    color: rgb(10, 132, 255);
}

.chrome {
    color: rgb(255, 149, 0);
}
.chrome:hover {
    color: rgb(255, 159, 10);
}

.scale {
    cursor: pointer;
    transition: transform 200ms ease-in-out, color 200ms ease-in-out;
}
.scale:hover {
    transform: scale(1.3);
}

.description{
    font-size: small;
    font-weight: normal;
    text-align: center;
    margin-top: 0.5rem;
}

.features{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.title{
    font-size: x-large;
    color: #fff;
    font-weight: 500;
}