.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 3em;
    background: rgb(var(--background-end-rgb));
}

.footer_links{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-size: large;
    color: rgb(var(--background-start-rgb));
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_links > *{
    padding: 0.3rem;
    border-bottom: 0.1rem solid transparent;
    transition: border-bottom 200ms ease-in-out;
}

.footer_links > *:hover{
    border-bottom: 0.1rem solid rgba(99, 99, 102, 0.7);
}

.design_develop{
    color: rgba(199, 199, 204, 1);
}

.name{
    color: rgb(0, 122, 255);
    font-weight: 700;
    font-size: large;
}

.heading{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bolder;
    color: #fff;
}


.social{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: large;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.scale {
    cursor: pointer;
    transition: transform 200ms ease-in-out, color 200ms ease-in-out;
    font-size: 2rem;
}
.scale:hover {
    transform: scale(1.3);
}