.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 3em;
    min-height: 100vh;
    background-color: rgb(var(--background-start-rgb));
}

.subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.h2{
    color: rgb(58, 58, 60);
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.heading {
    font-size: 2.2rem;
    text-align: center;
    font-weight: bolder;
    padding: 0rem 0.5rem;
    border-radius: 10px;
    /* text-transform: uppercase; */
}

/* .heading:hover {
    background-color: bisque;
} */

.dot {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.5rem;
}

.video_player {
    padding: 2rem;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}




/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .video_player {
        width: 100vw;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .video_player {
        width: 100vw;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    .video_player {
        width: 80vw;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    .video_player {
        width: 60vw;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    .video_player {
        width: 50vw;
    }
}





@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
