.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 3rem 1em;
    background: rgb(var(--background-start-rgb));
}

.title {
    font-size: x-large;
    color: rgb(var(--background-end-rgb));
    font-weight: bold;
}

.card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.price_card {
    padding: 2rem;
    margin: 1rem;
    width: 38%;
    border-radius: 10px;
    color: #000;
    border: 0.1rem solid rgb(209, 209, 214);
    text-align: center;
}

.popular {
    border: 0.3rem solid rgb(0, 122, 255);
}

.price_tag {
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid rgb(209, 209, 214);
    margin-bottom: 1rem;
}

.feature_row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: left;
    align-items: center;
}

.feature_available_logo {
    font-size: large;
}

.buy_btn {
    margin-bottom: 1rem;
    color: #fff;
    border-radius: 6px;
    border: none;
    padding: 0.6rem;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    transition: box-shadow 200ms ease-in-out;
    font-weight: bold;
}

.buy_btn:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.subscription_container {
    background-color: #fff;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.subscription_time_btn {
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
    border: 0.1rem solid transparent;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.selected_sub_time {
    border: 0.1rem solid rgb(var(--background-end-rgb));
    background-color: rgb(var(--background-end-rgb));
    color: #fff;
}

@media (max-width: 767px) {
    .card_container {
        flex-direction: column;
    }

    .price_card {
        width: 90%;
    }
}
