<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <script src="https://cdn.socket.io/4.5.3/socket.io.min.js"
        integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script>
        var socket = io();
        var admin_key = "";
        function set_admin_key() {
            admin_key = document.getElementById('key_input').value;
            socket.emit("admin_socket", { 'action': 'insert', 'key': admin_key });
        }

        socket.on("admin_socket", function (data) {
            if (!data.successful) {
                alert("Error occured: " + JSON.stringify(data.message));
            } else {
                document.getElementById('set_admin_key').innerHTML = "Successful!!!"
            }
        })

        function get_registered_users() {
            socket.emit("admin_get_registered", { 'key': admin_key });
        }

        socket.on("admin_get_registered", function (data) {
            if (!data.successful) {
                alert("Error occured: " + JSON.stringify(data.message));
            } else {
                document.getElementById('get_registered_users').innerHTML = data.message.registered_users;
            }
        })


        function get_active_users() {
            socket.emit("admin_get_active", { 'key': admin_key });
        }

        socket.on("admin_get_active", function (data) {
            if (!data.successful) {
                alert("Error occured: " + JSON.stringify(data.message));
            } else {
                document.getElementById('get_active_users').innerHTML = ("Users: " + data.message.active_users + " Devices: " + data.message.active_devices)
            }
        })

        function get_feedback() {
            socket.emit("admin_get_feedback", { 'key': admin_key });
        }

        socket.on("admin_get_feedback", function (data) {
            if (!data.successful) {
                alert("Error occured: " + JSON.stringify(data.message));
            } else {
                document.getElementById('get_feedback').innerHTML = JSON.stringify(data.message)
            }
        })


        function get_user() {
            var user = document.getElementById('get_user_input').value;
            socket.emit("admin_get", { 'user_id': user, 'key': admin_key });
        }

        socket.on("admin_get", function (data) {
            if (!data.successful) {
                alert("Error occured: " + JSON.stringify(data.message));
            } else {
                document.getElementById('get_user').innerHTML = JSON.stringify(data.message)
            }
        })


        function run_query() {
            var collection = document.getElementById('collection').value;
            var action = document.getElementById('action').value;
            var query = document.getElementById('query').value;
            var checkbox = document.getElementById('return').checked;


            socket.emit("admin_run_query", { 'key': admin_key, 'collection': collection, 'action': action, 'query': query, 'return': checkbox });

        }

        socket.on("admin_run_query", function (data) {
            if (!data.successful) {
                alert("Error occured: " + JSON.stringify(data.message));
            } else {
                document.getElementById('run_query').innerHTML = JSON.stringify(data.message) ?? "Sucessful!!"
            }
        })


        function diconnect_admin() {
            socket.emit("admin_socket", { 'key': admin_key, 'action': 'delete' });
        }

        function set_notification() {
            var user_id = document.getElementById('set_notification_user_id').value;
            var message = document.getElementById('set_notification_message').value;
            var ttl = document.getElementById('ttl').value;

            if (user_id == "") {
                socket.emit("set_notification", { 'key': admin_key, message, ttl });
            } else {
                socket.emit("set_notification", { 'key': admin_key, user_id, message, ttl });
            }
        }

        socket.on("set_notification", function (data) {
            if (!data.successful) {
                alert("Error occured: " + JSON.stringify(data.message));
            } else {
                document.getElementById('set_notification').innerHTML = "Successful!!"
            }
        })

        function get_admin_get_error_log() {
            socket.emit("get_admin_get_error_log", { 'key': admin_key });
        }

        socket.on("get_admin_get_error_log", function (data) {
            if (!data.successful) {
                alert("Error occured: " + JSON.stringify(data.message));
            } else {
                const link = document.createElement("a");
                const content = data.message;
                const file = new Blob([content], { type: 'text/plain' });
                link.href = URL.createObjectURL(file);
                link.download = "error.log";
                link.click();
                URL.revokeObjectURL(link.href);
            }
        })
        
        
        socket.on("error_occured", function (data) {
            alert(JSON.stringify(data.message));
        })
    </script>
</head>

<body style="padding: 1rem;">
    <h1>Continuity Admin Portal</h1>

    Set Admin key:
    <input type="text" id='key_input' placeholder="key_input" /><br>
    <input type="button" onclick="set_admin_key();" value="Set Admin key"><br>
    <div id="set_admin_key"></div>
    <br>
    <hr>
    registered_users:
    <input type="button" onclick="get_registered_users();" value="get_registered_users"><br>
    <div id="get_registered_users"></div>
    <br>
    <hr>
    active_users:
    <input type="button" onclick="get_active_users();" value="get_active_users"><br>
    <div id="get_active_users"></div>
    <br>
    <hr>
    get_feedback:
    <input type="button" onclick="get_feedback();" value="get_feedback"><br>
    <div id="get_feedback"></div>
    <br>
    <hr>
    get_user:
    <input type="text" id='get_user_input' placeholder="get_user_input" /><br>
    <input type="button" onclick="get_user();" value="get_user"><br>
    <div id="get_user"></div>
    <br>
    <hr>
    run_query:
    <input type="text" id='collection' placeholder="collection" /><br>
    <input type="text" id='query' placeholder="query" /><br>
    <input type="text" id='action' placeholder="action" /><br>
    <input type="checkbox" id='return'> Has a return
    <input type="button" onclick="run_query();" value="run_query"><br>
    <div id="run_query"></div>
    <br>
    <hr>
    set_notification:
    <input type="text" id='set_notification_user_id' placeholder="user_id/s" /><br>
    <input type="text" id='set_notification_message' placeholder='message' /><br>
    <label>
        TTL (days)
        <input type="number" id='ttl' /><br>
    </label>
    <input type="button" onclick="set_notification();" value="set_notification"><br>
    <div id="set_notification"></div>
    <br>
    <hr>
    <input type="button" onclick="diconnect_admin();" value="diconnect_admin">
    <div id="diconnect_admin"></div>
</body>

</html>