<!doctype html>
<html>
<head>
  <script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf-8">
    var socket = io();
    var device_token = null;
    
    socket.on('connect', function() {
      console.log("User connected")
    });
    
    socket.on('login', function(data) {
      console.log("login")  
      console.log(data)
      device_token = data.message.device_token;
      console.log("========================")
    });

    socket.on('logout', function(data) {
      console.log("logout")  
      console.log(data)
      console.log("========================")
    });

    socket.on('add_tab', function(data) {
      console.log("add_tab")  
      console.log(data)
      console.log("========================")
    });


    socket.on('update_tab', function(data) {
      console.log("update_tab")  
      console.log(data)
      console.log("========================")
    });

    socket.on('remove_tab', function(data) {
      console.log("remove_tab")  
      console.log(data)
      console.log("========================")
    });

    socket.on('all_devices', function(data) {
      console.log("all_devices");
      console.log(data);
      console.log("========================");
    });

    socket.on('add_device', function(data) {
      console.log("add_device");
      console.log(data);
      console.log("========================");
    });

    socket.on('get_my_tabs', function(data) {
      console.log("on_get_my_tabs");
      console.log(data);
      console.log("========================");
    });

    socket.on('get', function(data) {
      console.log("get");
      console.log(data);
      console.lo;("========================")
    });

    socket.on('remove_all_tabs', function(data) {
      console.log("remove_all_tabs");
      console.log(data);
      console.lo;("========================")
    });

    socket.on('auto_authenticate', function(data) {
      console.log("auto_authenticate");
      console.log(data);
      console.lo;("========================")
    });
    
    socket.on('enroll_feature', function(data) {
      console.log("enroll_feature");
      console.log(data);
      console.lo;("========================")
    });

    socket.on('ultra_search_query', function(data) {
      console.log("ultra_search_query");
      console.log(data);
      console.lo;("========================")
    });

    function get(){
      socket.emit("get", {'user_id': 'Swastik'});
    }

    function login(){
      socket.emit("login", {'user_id': 'Swastik', 'name': 'Swastik', 'picture': 'Test picture',  'device_name': '{{device_name}}', 'device_type': 'Laptop'});
    }

    function logout(){
      socket.emit("logout", {'user_id': 'Swastik', 'device_name': '{{device_name}}', 'device_type': 'Laptop', 'device_token': device_token});
    }

    function add_tab(){
      socket.emit("add_tab", {'user_id': 'Swastik', 'device_name': '{{device_name}}', 'tabs_data': {0:'link_1'}, 'device_token': device_token});
    }

    function remove_tab(){
      socket.emit("remove_tab", {'user_id': 'Swastik', 'device_name': '{{device_name}}', 'id':0, 'device_token': device_token});
    }

    function update_tab(){
      socket.emit("update_tab", {'user_id': 'Swastik', 'device_name': '{{device_name}}', 'tabs_data': {0:'link_1_updated'}, 'device_token': device_token});
    }

    function remove_all_tabs(){
      socket.emit("remove_all_tabs", {'user_id': 'Swastik', 'device_name': '{{device_name}}', 'tabs_data': {0:'link_1_updated'}, 'device_token': device_token});
    }

    function get_my_tabs(){
      socket.emit("get_my_tabs", {'user_id': 'Swastik', 'device_name': '{{device_name}}', 'tabs_data': {0:'link_1_updated'}, 'device_token': device_token});
    }

    function auto_authenticate(){
      socket.emit("auto_authenticate", {'user_id': 'Swastik', 'device_name': '{{device_name}}', 'device_token': device_token});
    }

    function enroll(){
      socket.emit("enroll_feature", {'user_id': 'Swastik', 'device_name': '{{device_name}}', 'device_token': device_token, 'feature_name': 'ultra_search_query'});
    }

    function ultra(){
      var input_data = document.getElementById('input');
      socket.emit("ultra_search_query", {'user_id': 'Swastik', 'device_name': '{{device_name}}', 'device_token': device_token, 'prompt': input_data.value});
    }

  </script>
  <title>SocketIO</title>
</head>
<body>
    <button onclick="login();">Login</button>
    <button onclick="logout();">Logout</button>
    <button onclick="add_tab();">add_tab</button>
    <button onclick="remove_tab();">remove_tab</button>
    <button onclick="update_tab();">update_tab</button>
    <button onclick="get();">get</button>
    <button onclick="remove_all_tabs();">remove_all_tabs</button>
    <button onclick="get_my_tabs();">get_my_tabs</button>
    <button onclick="auto_authenticate();">auto_authenticate</button>
    <button onclick="enroll();">Enroll</button>
    <br>
    <input id="input" type="text" />
    <button onclick="ultra();">ultra</button>

</body>
</html>