<!doctype html>
<html>
<head>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <title>SocketIO</title>
</head>
<body>

  <script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('my event', {data: {user_id: 'Test User ID'}});
    });

    var t = () => io.of("/test").emit('login', {user_id: "hello"});
    var t2 = () => io.of("/test").emit('add_tab');
  </script>
    <button onclick="t();">SET USERNAME</button>
    <button onclick="t2();">TEST BUTTON</button>

</body>
</html>