<!doctype html>
<html>
<head>
  <script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf-8">
    var socket = io();
    var device_token = null;
    
    socket.on('connect', function() {
      console.log("User connected")
    });
    
    socket.on('login', function(data) {
      console.log("login")  
      console.log(data)
      if(data.successful){
        device_token = data.message.device_token;
      }
      console.log("========================")
    });

    socket.on('logout', function(data) {
      console.log("logout")  
      console.log(data)
      console.log("========================")
    });

    socket.on('add_tab', function(data) {
      console.log("add_tab")  
      console.log(data)
      console.log("========================")
    });


    socket.on('update_tab', function(data) {
      console.log("update_tab")  
      console.log(data)
      console.log("========================")
    });

    socket.on('remove_tab', function(data) {
      console.log("remove_tab")  
      console.log(data)
      console.log("========================")
    });

    socket.on('all_devices', function(data) {
      console.log("all_devices");
      console.log(data);
      console.log("========================");
    });

    socket.on('add_device', function(data) {
      console.log("add_device");
      console.log(data);
      console.log("========================");
    });

    socket.on('get_my_tabs', function(data) {
      console.log("on_get_my_tabs");
      console.log(data);
      console.log("========================");
    });

    socket.on('get', function(data) {
      console.log("get");
      console.log(data);
      console.log("========================")
    });

    socket.on('remove_all_tabs', function(data) {
      console.log("remove_all_tabs");
      console.log(data);
      console.log("========================")
    });

    socket.on('auto_authenticate', function(data) {
      console.log("auto_authenticate");
      console.log(data);
      console.log("========================")
    });
    
    socket.on('enroll_feature', function(data) {
      console.log("enroll_feature");
      console.log(data);
      console.log("========================")
    });

    socket.on('switch_feature', function(data) {
      console.log("switch_feature");
      console.log(data);
      console.log("========================")
    });

    socket.on('ultra_search_query', function(data) {
      console.log("ultra_search_query");
      console.log(data);
      console.log("========================")
    });

    socket.on('report_privacy_trackers', function(data) {
      console.log("report_privacy_trackers");
      console.log(data);
      console.log("========================")
    });

    socket.on('privacy_report', function(data) {
      console.log("privacy_report");
      console.log(data);
      console.log("========================")
    });

    socket.on('set_history', function(data) {
      console.log("set_history");
      console.log(data);
      console.log("========================")
    });

    socket.on('get_history', function(data) {
      console.log("get_history");
      console.log(data);
      console.log("========================")
    });

    socket.on('delete_history', function(data) {
      console.log("delete_history");
      console.log(data);
      console.log("========================")
    });

    socket.on('error_occured', function(data) {
      console.log(data);
    });

    socket.on('set_notification', function(data) {
      console.log("set_notification");
      console.log(data);
      console.log("========================")
    });

    socket.on('get_notification', function(data) {
      console.log("get_notification");
      console.log(data);
      console.log("========================")
    });

    socket.on('ack_notification', function(data) {
      console.log("ack_notification");
      console.log(data);
      console.log("========================")
    });

    socket.on('notification_count', function(data) {
      console.log("notification_count");
      console.log(data);
      console.log("========================")
    });

    socket.on('sign_in', function(data) {
      console.log("sign_in");
      console.log(data);
      console.log("========================")
    });
    
    socket.on('delete_user', function(data) {
      console.log("sign_in");
      console.log(data);
      console.log("========================")
    });

    function get(){
      socket.emit("get", {'user_id': 'swasnaiktik@gmail.com'});
    }

    function login(){
      socket.emit("login", {'user_id': 'swasnaiktik@gmail.com', 'name': 'swasnaiktik@gmail.com', 'picture': 'Test picture',  'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'device_type': 'Laptop'});
    }

    function logout(){
      socket.emit("logout", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'device_type': 'Laptop', 'device_token': device_token});
    }

    function add_tab(){
      socket.emit("add_tab", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'tabs_data': {0:'link_1'}, 'device_token': device_token});
    }

    function remove_tab(){
      socket.emit("remove_tab", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'id':0, 'device_token': device_token});
    }

    function update_tab(){
      socket.emit("update_tab", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'tabs_data': {0:'link_1_updated'}, 'device_token': device_token});
    }

    function remove_all_tabs(){
      socket.emit("remove_all_tabs", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'tabs_data': {0:'link_1_updated'}, 'device_token': device_token});
    }

    function get_my_tabs(){
      socket.emit("get_my_tabs", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'tabs_data': {0:'link_1_updated'}, 'device_token': device_token});
    }

    function auto_authenticate(){
      socket.emit("auto_authenticate", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'device_token': device_token});
    }

    function enroll(){
      socket.emit("enroll_feature", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'device_token': device_token, 'feature_name': 'ultra_search'});
    }

    function ultra(){
      var input_data = document.getElementById('input');
      socket.emit("ultra_search_query", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'device_token': device_token, 'prompt': input_data.value});
    }

    function switch_feature(){
      socket.emit("switch_feature", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'device_token': device_token, 'switch': true, 'feature_name': 'ultra_search'});
    }

    function report_privacy_trackers(){
      socket.emit("report_privacy_trackers", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'device_token': device_token, 'website_host': 'host_1', 'tracker': 'tracker_1'});
    }

    function privacy_report(){
      socket.emit("privacy_report", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'device_token': device_token});
    }

    function set_history(){
      socket.emit("set_history", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'device_token': device_token, 'url': 'url_1', 'title': 'title_1'});
      socket.emit("set_history", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'device_token': device_token, 'url': 'url_2', 'title': 'title_2'});
      socket.emit("set_history", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'device_token': device_token, 'url': 'url_3', 'title': 'title_3'});
    }

    function get_history(){
      socket.emit("get_history", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'device_token': device_token, 'page': 1, 'timezone': 'Indian Standard Time'});
    }

    function delete_history(){
      socket.emit("delete_history", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'device_token': device_token});
    }

    function set_notification(){
      // action_type: redirect | link
      socket.emit("set_notification", {'title': 'Update Continuity', 'description': 'Update Continuity today for best features', 'action_type': 'redirect', 'target': 'Settings', 'ttl': 1});
    }

    function get_notification(){
      socket.emit("get_notification", {'user_id': 'swasnaiktik@gmail.com', 'device_name': '{{device_name}}', 'target_device': '{{device_name}}', 'device_token': device_token});
    }

    function sign_in(){
      var input_data = document.getElementById('sign_in').value;
      socket.emit("sign_in", {'user_id': 'swasnaiktik@gmail.com'});
    }

    function delete_user(){
      socket.emit("delete_user", {'user_id': 'swasnaiktik@gmail.com', 'device_token': device_token, 'device_name': '{{device_name}}'});
    }

  </script>
  <title>SocketIO</title>
</head>
<body>
    <button onclick="login();">Login</button>
    <button onclick="logout();">Logout</button>
    <button onclick="add_tab();">add_tab</button>
    <button onclick="remove_tab();">remove_tab</button>
    <button onclick="update_tab();">update_tab</button>
    <button onclick="get();">get</button>
    <button onclick="remove_all_tabs();">remove_all_tabs</button>
    <button onclick="get_my_tabs();">get_my_tabs</button>
    <button onclick="auto_authenticate();">auto_authenticate</button>
    <button onclick="enroll();">Enroll</button>
    <button onclick="switch_feature();">switch_feature</button>
    <button onclick="report_privacy_trackers();">report_privacy_trackers</button>
    <button onclick="privacy_report();">privacy_report</button>
    <button onclick="set_history();">set_history</button>
    <button onclick="get_history();">get_history</button>
    <button onclick="set_notification();">set_notification</button>
    <button onclick="get_notification();">get_notification</button>
    <button onclick="delete_user();">delete_user</button>
    <br>
    <input id="input" type="text" />
    <button onclick="ultra();">ultra</button>
    <br>
    <br>
    <input id="sign_in" type="text" />
    <button onclick="sign_in();">sign_in</button>
    <br>
    <br>
<div id="Error"></div>
</body>
</html>